[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/md/Pulpit/finch.md]
row=2
col=6

[/home/md/Pulpit/Lauxtermann-HegelSchopenhauerPartisans-1990.pdf]
row=5
col=3

[/home/md/Pulpit/Deleuze-Obraz-myśli.pdf]
row=3
col=3

[/home/md/Pulpit/Czytanie_FD]
row=5
col=8

[/home/md/Pulpit/Oxana Timofeeva_ Slavoj Žižek - The History of Animals_ A Philosophy-Bloomsbury Academic (2018).epub]
row=4
col=6

[/home/md/Pulpit/sda.tex]
row=4
col=3

[/home/md/Pulpit/Nicolas Bourbaki - Theory of sets -Hermann (1968).djvu]
row=3
col=1

[/home/md/Pulpit/sda.aux]
row=2
col=4

[/home/md/Pulpit/Plan_przyczynowosc_determinizm.tex]
row=3
col=4

[/home/md/Pulpit/konstrukcje z ...nach....docx]
row=4
col=4

[/home/md/Pulpit/Gotthold Lessing - Die Erziehung des Menschengeschlechts-De Gruyter (2022).pdf]
row=1
col=5

[/home/md/Pulpit/Spinoza Baruch - The Ethics Part 1 - libgen.li.txt]
row=2
col=8

[/home/md/Pulpit/Zadania-procenty-typy.pdf]
row=2
col=1

[/home/md/Pulpit/Kupno_cytadela_2024-12-08_23-09.png]
row=2
col=3

[/home/md/Pulpit/xxCy7uNf.jpeg]
row=2
col=5

[/home/md/Pulpit/hacking1983.pdf]
row=0
col=7

[/home/md/Pulpit/przedmioty-ects.md]
row=4
col=8

[/home/md/Pulpit/test.md]
row=1
col=2

[/home/md/Pulpit/Plan_notatki.md]
row=5
col=5

[/home/md/Pulpit/sda.pdf]
row=0
col=4

[/home/md/Pulpit/konstrukcje z ...nach....pdf]
row=1
col=8

[/home/md/Pulpit/1733679302334.jpg]
row=5
col=7

[/home/md/Pulpit/g-fichte-powolanie-czlowieka.pdf]
row=0
col=1

[/home/md/Pulpit/Pannenberg_czlowiek_wolnosc_bog.pdf]
row=4
col=0

[/home/md/Pulpit/A2-B1-0uhekg.pdf]
row=4
col=2

[/home/md/Pulpit/zj9Ng-QT.jpeg]
row=4
col=1

[/home/md/Pulpit/Scenariusz - W. Historyczny 19.11.2024.doc]
row=2
col=2

[/home/md/Pulpit/sda.log]
row=5
col=4

[/home/md/Pulpit/Tutorial_ii.pdf]
row=5
col=2

[/home/md/Pulpit/Zamówienie – niemieckizprzyjemnoscia.pdf]
row=0
col=2

[/home/md/Pulpit/rozbiegowka.md]
row=3
col=6

[/home/md/Pulpit/Kurs_a2_b1]
row=3
col=10

[/home/md/Pulpit/Max Horkheimer - Krytyka instrumentalnego rozumu -SCHOLAR (2007).djvu]
row=0
col=5

[/home/md/Pulpit/Artykul_Gadi_feminizm]
row=4
col=11

[/home/md/Pulpit/Artykul_Gadi_konserwatyzm]
row=4
col=10

[/home/md/Pulpit/(Studies in Phenomenology and Existential Philosophy) John McCumber - The Company of Words_ Hegel, Language, and Systematic Philosophy-Northwestern University Press (1993).djvu]
row=5
col=0

[/home/md/Pulpit/sda.out]
row=1
col=4

[/home/md/Pulpit/4k1225_08_mieszkalnictwo.pdf]
row=0
col=6

[/home/md/Pulpit/opisy_obrazkow.md]
row=0
col=8

[/home/md/Pulpit/gry_casual_2_player.md]
row=3
col=5

[/home/md/Pulpit/20230718_Załącznik_do_Komunikatu_-__Projekt_wykazu_czasopism_naukowych_i_recenzowanych_materiałów_z_konferencji_międzynarodowych.xlsx]
row=4
col=7

[/home/md/Pulpit/dFY6ODG3.jpeg]
row=0
col=3

[/home/md/Pulpit/Artykul_determinizm_a_przyczynowosc]
row=3
col=11

[/home/md/Pulpit/adam_obrazek.md]
row=1
col=3

[/home/md/Pulpit/rozbiegowka.pdf]
row=3
col=2

[/home/md/Pulpit/JBtPDzuI.jpeg]
row=5
col=1

[/home/md/Pulpit/Hegel_formalization.docx]
row=4
col=5

[/home/md/Pulpit/bourbaki-hudetz-paper-11.pdf]
row=1
col=1

[/home/md/Pulpit/Braun u Cejrowskiego]
row=2
col=9

[/home/md/Pulpit/Cytaty.pdf]
row=3
col=8

[/home/md/Pulpit/Ogólne_naukowe]
row=1
col=11

[/home/md/Pulpit/bilet_WH_13062121.pdf]
row=5
col=6

[/home/md/Pulpit/Oxana Timofeeva_ Slavoj Žižek - The History of Animals_ A Philosophy-Bloomsbury Academic (2018).pdf]
row=3
col=0

[/home/md/Pulpit/Lekcje]
row=0
col=11

