[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/md/Pulpit/finch.md]
row=0
col=9

[/home/md/Pulpit/Oxana Timofeeva_ Slavoj Žižek - The History of Animals_ A Philosophy-Bloomsbury Academic (2018).epub]
row=5
col=8

[/home/md/Pulpit/Czytanie_FD]
row=0
col=12

[/home/md/Pulpit/sda]
row=0
col=5

[/home/md/Pulpit/Druk]
row=1
col=0

[/home/md/Pulpit/Hegel-artykuły]
row=3
col=11

[/home/md/Pulpit/(Kronos. Metafizyka, kultura, religia (4_2014)) Wawrzyniec Rymkiewicz (red.)_ Alexandre Kojève_ Carl Schmitt_ Piotr Graczyk_ Georg Wilhelm Friedrich Hegel_ Alexandre Koyré_ Walerij Gubin_ Jacob Taubes.pdf]
row=4
col=4

[/home/md/Pulpit/z_telefonu]
row=2
col=0

[/home/md/Pulpit/Hegel wczesny]
row=0
col=2

[/home/md/Pulpit/Hegel_hermeneutyka]
row=6
col=9

[/home/md/Pulpit/fiszki_4.txt]
row=1
col=1

[/home/md/Pulpit/Zizek_short_note_on_hegel_exemplum_christ.pdf]
row=4
col=1

[/home/md/Pulpit/konstrukcje z ...nach....pdf]
row=0
col=8

[/home/md/Pulpit/pix.jpg]
row=0
col=10

[/home/md/Pulpit/Tabelka_niemiecki_temporalsetze_bestimmung.odt]
row=6
col=0

[/home/md/Pulpit/Dialektiken_machen.jpg]
row=6
col=1

[/home/md/Pulpit/Kurs_a2_b1]
row=5
col=0

[/home/md/Pulpit/Notka_27_03.odt]
row=2
col=1

[/home/md/Pulpit/Kraków-mieszkalnictwo.pdf]
row=0
col=3

[/home/md/Pulpit/Artykul_Gadi_konserwatyzm]
row=6
col=2

[/home/md/Pulpit/GRANT]
row=2
col=11

[/home/md/Pulpit/Teksty_innych]
row=3
col=0

[/home/md/Pulpit/Wojcik_deonologia_Zizka.pdf]
row=3
col=1

[/home/md/Pulpit/Bilet_Ulissesst.pdf]
row=0
col=4

[/home/md/Pulpit/20230718_Załącznik_do_Komunikatu_-__Projekt_wykazu_czasopism_naukowych_i_recenzowanych_materiałów_z_konferencji_międzynarodowych.xlsx]
row=0
col=0

[/home/md/Pulpit/Artykul_Lessing_struktura_FD]
row=2
col=12

[/home/md/Pulpit/Artykul_determinizm_a_przyczynowosc]
row=4
col=12

[/home/md/Pulpit/plik.tex]
row=0
col=1

[/home/md/Pulpit/Lekcje]
row=0
col=6

[/home/md/Pulpit/Braun u Cejrowskiego]
row=4
col=0

[/home/md/Pulpit/Preteksty-Gadamer-Etyka]
row=5
col=12

[/home/md/Pulpit/Ogólne_naukowe]
row=3
col=12

[/home/md/Pulpit/Oxana Timofeeva_ Slavoj Žižek - The History of Animals_ A Philosophy-Bloomsbury Academic (2018).pdf]
row=6
col=8

